* {
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: #000;
}

div {
  position: absolute;
}

h1{
  color: darkgoldenrod;
  margin: 400px 490px;
  font-size: 80px;
}


.caixa1 {
  background-color: rgb(87, 87, 87);
  height: 300px;
  width: 300px;

  left: 0;
  top: 0;
}
.caixa1 > div {
  background-color: #ccc;
  height: 150px;
  width: 150px;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa2 {
  background-color: rgb(87, 87, 87);
  height: 300px;
  width: 300px;

  right: 0;
  top: 0;
}
.caixa2 > div {
  background-color: #ccc;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa3 {
  background-color: rgb(87, 87, 87);
  height: 300px;
  width: 300px;

  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
}
.caixa3 > div {
  background-color: #ccc;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  height: 80px;
  width: 80px;
  background-image: url("https://a2.espncdn.com/combiner/i?img=%2Fi%2Fteamlogos%2Fsoccer%2F500%2F2026.png");
  background-size: 80px;
}