html {
  scroll-behavior: smooth;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../image/bgHome.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-toggler {
  border: none !important;
}
.btn-outline-success{
    background-color: rgba(25, 135, 84, 0.144);
    color: #FFF;
    border-radius: 10px;
}
.bg-section{
    background-color: #010101;
    padding-bottom: 15vh ;
}
.bg-nav{
  background-color: #010101;

}

#itens{
    padding-top: 15vh !important;

}