html {
  scroll-behavior: smooth;
}

/**********************/
/*        HOME       */
/********************/

.masthead-home {
  height: 100vh;
  min-height: 500px;
  background-image: url("../image/bgHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar-toggler {
  border: none !important;
}
.btn-outline-success{
    background-color: rgba(25, 135, 84, 0.144);
    color: #FFF;
    border-radius: 10px;
}
.bg-section{
    background-color: #010101;
    padding-bottom: 15vh ;
}
.bg-nav{
  background-color: #010101;
}

#itens{
    padding-top: 15vh !important;
}

@media (max-width: 992px){
.info-footer{
  text-align: left !important;
  
}
}


/**********************/
/*       SOBRE       */
/********************/

.masthead-sobre {
  height: 70vh;
  min-height: 500px;
  background-image: url("../image/img_film.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}